<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.magnum.sshdash</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/node</string>
    <string>/Users/jisong/Documents/magnum-ssh-dash/dist/server.js</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/jisong/Documents/magnum-ssh-dash</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/Users/jisong/Documents/magnum-ssh-dash/runtime.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/jisong/Documents/magnum-ssh-dash/runtime.err.log</string>
</dict>
</plist>
